<template>
    <div class="app__wrap">
        <common-tabs @change-tab="setActiveTab">
            <template #tab>
                <common-tab :name="`Dashboard`" :selected="activeTab">
                    <liga-dashboard></liga-dashboard>
                </common-tab>
                <common-tab :name="`Teams`" :selected="activeTab">
                    <liga-teams></liga-teams>
                </common-tab>
            </template>
        </common-tabs>
    </div>
</template>

<script>

// components
import CommonTabs from './components/common-tabs'
import CommonTab from './components/common-tab'
import LigaDashboard from './components/liga-dashboard'
import LigaTeams from './components/liga-teams'

export default {
  name: 'App',

  components: {
    'common-tabs': CommonTabs,
    'common-tab': CommonTab,
    'liga-dashboard': LigaDashboard,
    'liga-teams': LigaTeams
  },

  created () {
    this.activeTab = `Dashboard`;
  },

  data () {
    return {
      activeTab: '',
    }
  },

  methods: {
    setActiveTab (tabName) {
      this.activeTab = tabName
    }
  }
}
</script>

<style scoped></style>

