<template>
    <div v-show="isActive">
        <slot></slot>
    </div>
</template>

<script>
export default {
  name: 'common-tab',

  props: {
    name: { required: true },
    selected: { type: String, default: '' }
  },

  created () {
    this.isActive = this.selected === this.name
  },

  data () {
    return {
      isActive: false
    }
  },

  watch: {
    'selected' (value) {
      this.isActive = value === this.name
    }
  }
}
</script>
