<template>
    <div class="modal-mask" v-if="showModal">
        <div class="modal-wrapper" @click="close">
            <div class="modal-container" @click.stop>

                <div class="modal-header">
                    <slot name="header"></slot>
                </div>

                <div class="modal-body">
                    <slot name="body"></slot>
                </div>

                <div class="modal-footer">
                    <slot name="footer" :close="close" :save="save">
                        <button class="modal-default-button" @click="close" v-text="`Cancel`"></button>
                        <button class="modal-default-button" @click="save" v-text="`Save`"></button>
                    </slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'common-modal',

  props: {
    showModal: {
      type: Boolean,
      default: false
    }
  },

  emits: {
    close: null,
    save: null,
  },

  methods: {

    close () {
      this.$emit('close')
    },

    save () {
      this.$emit('save')
    }
  }
}
</script>

<style scoped>

</style>
