<template>
    <div>
        <div class="common-tabs tabs">
            <ul>
                <li v-for="tab in tabs" :class="{ 'is-active': activeTab === tab.props.name }">
                    <a @click="selectTab(tab.props.name)">{{ tab.props.name }}</a>
                </li>
            </ul>
        </div>

        <div class="common-tabs-details">
            <slot name="tab"></slot>
        </div>
    </div>
</template>

<script>
export default {
  name: 'common-tabs',

  created () {
    this.tabs = this.$slots.tab().filter(child => child.type.name === 'common-tab')

    let selectedTab = this.tabs.find(tab => tab.props.name === tab.props.selected)
    if (selectedTab) {
      this.activeTab = selectedTab.props.name
    }
  },

  data () {
    return {
      tabs: [],
      activeTab: '',
    }
  },

  emits: {
    'change-tab': null
  },

  methods: {
    selectTab (name) {
      this.$emit('change-tab', name)
      this.activeTab = name
    }
  }
}
</script>

