<template>
    <h2 class="current-season text-center" v-text="`Season ${currentSeason?.name}`"></h2>

    <div class="content clearfix">
        <table class="league-table w-66 pull-left">
            <thead>
            <tr>
                <th class="text-center w-50" v-text="`League Table`"></th>
                <th class="text-center w-50" v-text="`Match Result`"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="w-50 no-padding">
                    <table class="league-subtable">
                        <thead>
                        <tr>
                            <th class="text-center" v-text="`Team`"></th>
                            <th class="text-center w-10" v-text="`PTS`"></th>
                            <th class="text-center w-10" v-text="`P`"></th>
                            <th class="text-center w-10" v-text="`W`"></th>
                            <th class="text-center w-10" v-text="`D`"></th>
                            <th class="text-center w-10" v-text="`L`"></th>
                            <th class="text-center w-10" v-text="`GD`"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="team in teams" :data-id="team.id">
                            <td class="text-left" v-text="team.name"></td>
                            <td class="text-center w-10" v-text="team.pivot.scope"></td>
                            <td class="text-center w-10" v-text="team.pivot.total_games"></td>
                            <td class="text-center w-10" v-text="team.pivot.wins"></td>
                            <td class="text-center w-10" v-text="team.pivot.drawn"></td>
                            <td class="text-center w-10" v-text="team.pivot.losses"></td>
                            <td class="text-center w-10" v-text="goalDifference(team)"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td class="w-50 no-padding position-anchor">
                    <div class="week-result">
                        <h4 class="text-center no-margin">
                            {{ this.currentWeek }}<sup>{{ weekSuffix }} </sup> Week Match Result
                        </h4>
                        <div>
                            <p class="week-result-item" v-for="result in weekResults">
                                <span class="text-left" v-text="getTeamName(result.team_a_id)"></span>
                                <span class="text-right" v-text="result.scope_a"></span>
                                <span class="text-center"> : </span>
                                <span class="text-left" v-text="result.scope_b"></span>
                                <span class="text-right" v-text="getTeamName(result.team_b_id)"></span>
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2">
                    <div class="clearfix">
                        <div class="pull-left">
                            <template v-if="!loading">
                                <button type="button" v-text="`Start Season`" @click="startSeason" v-if="teams.length === 0"></button>
                                <button type="button" v-text="`Play All`" @click="playGames" v-if="teams.length !== 0"></button>
                            </template>
                        </div>
                        <div class="pull-right">
                            <div class="clearfix">
                                <div class="pull-left" v-if="currentWeek !== 1">
                                    <button type="button" v-text="`Prev Week`" @click="moveToPrevWeek"></button>
                                </div>
                                <div class="pull-right">
                                    <button type="button" v-text="`Next Week`" @click="moveToNextWeek"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>

        <div class="week-prediction w-33 pull-right" v-if="predictions.length > 0">
            <h4 class="text-center no-margin">
                {{ this.currentWeek }}<sup>{{ weekSuffix }} </sup> Week Predictions of Championship
            </h4>
            <div>
                <p class="week-prediction-item" v-for="prediction in predictions">
                    <span class="text-left" v-text="prediction.name"></span>
                    <span class="text-right" v-text="`${prediction.chance}%`"></span>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
// API
import Dashboard from '../api/dashboard';
import Game from '../api/game';

// libs
import moment from 'moment';

export default {
  name: 'liga-dashboard',

  created () {
    this.initSeason()
    this.loadData()
  },

  data: () => {
    return {
      loading: true,
      debug: window.appData.debug || false,
      seasons: window.appData.seasons || [],
      currentSeason: {
        id: 0,
        name: ''
      },
      teams: [],
      weekResults: [],
      predictions: [],
      currentWeek: 1
    }
  },

  computed: {
    weekSuffix () {
      return this.ordinalSuffix(this.currentWeek)
    }
  },

  methods: {

    initSeason () {
      let now = moment()

      let currYear = now.subtract(1, 'year').year()
      let nextYear = now.add(1, 'year').year()

      let season = this.seasons.find((season) => {
        return season.name.indexOf(currYear) !== -1 && season.name.indexOf(nextYear) !== -1
      })

      if (season) {
        this.currentSeason = season
      }
    },

    loadData () {

      if (this.currentSeason.id === 0) {
        alert('Cannot identify current season!')
        return
      }

      this.getDashboard()
      this.getWeekResult()

      // if( this.currentWeek >= 4 ){
      this.getPrediction()
      // }
      this.loading = false;
    },

    getDashboard () {
      Dashboard
        .list({
          season_name: this.currentSeason.name
        })
        .then((response) => {
          this.teams = response.data
        })
        .catch((err) => {
          console.error('Error: ' + err.toString())
        })
    },

    getPrediction () {
      Dashboard
        .prediction(this.currentSeason.id, this.currentWeek)
        .then((response) => {
          this.predictions = []
          Object.keys(response.data).forEach((k) => {
            this.predictions.push(response.data[k])
          })
        })
        .catch((err) => {
          console.error('Error: ' + err.toString())
        })
    },

    getWeekResult () {
      Game
        .weekResult(this.currentSeason.id, this.currentWeek)
        .then((response) => {
          this.weekResults = response.data
        })
        .catch((err) => {
          console.error('Error: ' + err.toString())
        })
    },

    startSeason () {
      Game
        .startSeason(this.currentSeason.id)
        .then(() => {
          this.loadData()
        })
        .catch((err) => {
          console.error('Error: ' + err.toString())
        })
    },

    playGames () {
      Game
        .playGames(this.currentSeason.id)
        .then(() => {
          this.loadData()
        })
        .catch((err) => {
          console.error('Error: ' + err.toString())
        })
    },

    ordinalSuffix (nbr) {
      let j = nbr % 10,
        k = nbr % 100
      if (j === 1 && k !== 11) {
        return 'st'
      }
      if (j === 2 && k !== 12) {
        return 'nd'
      }
      if (j === 3 && k !== 13) {
        return 'rd'
      }
      return 'th'
    },

    goalDifference (team) {
      let diff = Number(team.pivot.goals_count) - Number(team.pivot.conceded_goals_count)
      if (diff > 0) {
        return `+${diff}`
      } else if (diff < 0) {
        return `-${diff}`
      }
      return diff
    },

    getTeamName (id) {
      let name = ''
      if (this.teams.length) {
        let target = this.teams.find((team) => Number(id) === Number(team.id))
        if (target) {
          name = target.name
        }
      }
      return name
    },

    moveToPrevWeek () {

      let oldWeek = Number(this.currentWeek)
      this.currentWeek -= 1

      if (this.currentWeek <= 0) {
        this.currentWeek = 1
      }

      if (oldWeek !== this.currentWeek) {
        this.loadData()
      }
    },

    moveToNextWeek () {

      this.currentWeek += 1

      //@TODO - maximum ?

      this.loadData()
    }
  }
}
</script>

<style scoped>

</style>
