<template>
    <h2 class="teams text-center" v-text="`Teams`"></h2>

    <div class="content clearfix">
        <table class="teams-table w-100">
            <thead>
            <tr>
                <th class="text-left" v-text="`Team name`"></th>
                <th class="text-center" v-text="`Stadium`"></th>
                <th class="text-center" v-text="`Skill Level`"></th>
                <th class="text-center" v-text="`Season ${currentSeason.name}`"></th>
                <th class="text-center" v-text="`Actions`"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="team in teams">
                <td class="text-left" v-text="team.name"></td>
                <td class="text-center" v-text="team.stadium.name"></td>
                <td class="text-center" v-text="team.skill_level"></td>
                <td class="text-center" v-text="showCurrentSeason(team)"></td>
                <td class="text-center">
                    <button type="button" v-text="`Edit`" @click="editTeam(team)"></button>
                    <button type="button" v-text="`Delete`" @click="deleteTeam(team)"></button>
                    <button type="button" v-text="`Add to Season`" :disabled="isInCurrentSeason(team)" @click="addTeamToSeason(team)"></button>
                    <button type="button" v-text="`Delete from Season`" :disabled="!isInCurrentSeason(team)" @click="DeleteTeamFromSeason(team)"></button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <div class="pull-right mt-8">
                        <button type="button" v-text="`Add Team`" @click="addTeam"></button>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>

        <common-modal :show-modal="showModal" @close="closedModal" @save="savedModal">
            <template #header>
                <h2 v-if="currentTeam.id === 0">Add Team</h2>
                <h2 v-if="currentTeam.id !== 0">Edit Team</h2>
            </template>
            <template #body>
                <div class="field mt-4 clearfix">
                    <label class="pull-left" for="name" v-text="`Name`"></label>
                    <input class="pull-right" type="text" id="name" v-model="currentTeam.name">
                </div>
                <div class="field mt-4 clearfix">
                    <label class="pull-left" for="stadium" v-text="`Stadium`"></label>
                    <select class="pull-right" id="stadium" v-model="currentTeam.stadium">
                        <option v-for="stadium in stadiums" :value="stadium.id" v-text="stadium.name"></option>
                    </select>
                </div>
                <div class="field mt-4 clearfix">
                    <label class="pull-left" for="skill-level" v-text="`Skill Level`"></label>
                    <input class="pull-right" type="range" id="skill-level" min="1" max="10" v-model="currentTeam.skillLevel">
                </div>
            </template>
            <template #footer="{ close, save }">
                <div class="clearfix">
                    <div class="pull-left">
                        <button type="button" v-text="`Cancel`" @click="close"></button>
                    </div>
                    <div class="pull-right">
                        <button type="button" v-text="`Save`" @click="save"></button>
                    </div>
                </div>
            </template>
        </common-modal>
    </div>
</template>

<script>
// API
import Team from '../api/team'

// Components
import CommonModal from '../components/common-modal'
import moment from 'moment'

export default {
  name: 'liga-teams',

  components: {
    CommonModal
  },

  created () {
    this.initSeason();
    this.loadData();
    this.resetCurrentTeam();
  },

  data () {
    return {
      teams: [],
      seasons: window.appData.seasons || [],
      stadiums: window.appData.stadiums || [],
      showModal: false,
      currentTeam: null,
      currentSeason: {
        id: 0,
        name: ''
      },
    }
  },

  methods: {

    initSeason () {
      let now = moment()

      let currYear = now.subtract(1, 'year').year()
      let nextYear = now.add(1, 'year').year()

      let season = this.seasons.find((season) => {
        return season.name.indexOf(currYear) !== -1 && season.name.indexOf(nextYear) !== -1
      })

      if (season) {
        this.currentSeason = season
      }
    },

    loadData () {
      this.getTeams()
    },

    getTeams () {
      Team
        .list()
        .then((response) => {
          this.teams = response.data
        })
        .catch((err) => {
          console.error('Error: ' + err.toString())
        })
    },

    closedModal () {
      this.showModal = false
      this.resetCurrentTeam()
    },

    savedModal () {
      if (this.currentTeam.id === 0) {
        this.storeTeam()
      } else {
        this.updateTeam()
      }
      this.closedModal()
    },

    resetCurrentTeam () {
      this.currentTeam = {
        id: 0,
        name: '',
        stadium: 0,
        skillLevel: 0,
      }
    },

    isInCurrentSeason(team){
        let checkSeason = team.seasons.find( season => season.id === this.currentSeason.id);
        return !! checkSeason;
    },

    showCurrentSeason(team){
        return this.isInCurrentSeason(team) ? `+` : `-`;
    },

    addTeam () {
      this.resetCurrentTeam();
      this.showModal = true;
    },

    storeTeam () {
      Team
        .store({
          name: this.currentTeam.name,
          stadium_id: this.currentTeam.stadium,
          skill_level: this.currentTeam.skillLevel,
        })
        .then(() => {
          this.loadData()
        })
        .catch((err) => {
          console.error('Error: ' + err.toString())
        })
    },

    editTeam (team) {
      this.currentTeam = {
        id: team.id,
        name: team.name,
        stadium: team.stadium.id,
        skillLevel: team.skill_level,
      };
      this.showModal = true;
    },

    updateTeam () {
      Team
        .update(
          this.currentTeam.id,
          {
            name: this.currentTeam.name,
            stadium_id: this.currentTeam.stadium,
            skill_level: this.currentTeam.skillLevel,
          }
        )
        .then(() => {
          this.loadData()
        })
        .catch((err) => {
          console.error('Error: ' + err.toString())
        })
    },

    deleteTeam (team) {
      Team
        .delete(team.id)
        .then(() => {
          this.loadData()
        })
        .catch((err) => {
          console.error('Error: ' + err.toString())
        })
    },

    addTeamToSeason (team) {
        Team
        .addToSeason(team.id, 1)
          .then(() => {
            this.loadData()
          })
          .catch((err) => {
            console.error('Error: ' + err.toString())
          })
    },

    DeleteTeamFromSeason (team) {
      Team
        .removeFromSeason(team.id, 1)
        .then(() => {
          this.loadData()
        })
        .catch((err) => {
          console.error('Error: ' + err.toString())
        })
    },
  }
}
</script>

<style scoped>

</style>
